<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="1" preserve-order="true" name="MyExpandBankTest">
        <classes>
            <class name="com.expandtesting.LoginTest" />

        </classes>
    </test>

</suite>